body{
    background-color: burlywood;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        
        "hd hd"
        "ss mf"
        "pi pi"
        "ft ft";
    row-gap: 10px;
    column-gap: 15px;
}

.grid div{
    border: 1px black;
    padding: 15px;
    border-radius: 10px;
    background-color: #dddddd;
    height: 100px;
    text-align: center;
}

.header{
    grid-area: hd;
}

.navbar{
    grid-area: nb;
}

.slideshow{
    grid-area: ss;
}

.mailingForm{
    grid-area: mf;
}

.productInformation{
    grid-area: pi;
}

.footer{
    grid-area: ft;
}


/*This is for the Nav Bar*/


#navbarstyle{
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li {
  display: inline;
}

div.sticky {
  position: sticky;
  top: 0;
  background-color: sandybrown;
  border: 2px solid #4CAF50;
  border-radius: 5px;
}
